@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800,900');



body {
    background-color: black;

}



p {
    color: white;
    font-size: 20px;
    line-height: 32px;
    font-weight: 100;
}


h1 {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-90%, -50%);
    color: white;
    width: 50%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 55px;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    letter-spacing: 3px;

}

h2 {
    color: white;
}

li {
    color: white;
    font-size: 20px;
    padding: 10px 0;
}

.h1-center {
    text-align: center;
    width: 100%;
    color: white;
    text-shadow: 0px 0px 10px rgba57, 255, 20, 1);
}


.scroll-line {
    position: fixed;
    top: 0;
    left: 0;
    height: 7px;
    background: rgb(6, 193, 255);
    background: linear-gradient(90deg, rgba(6, 193, 255, 1) 0%, rgba(117, 0, 255, 1) 100%);
    z-index: 1;
}


.bg-billede {

    background-image: url(/img/banner_1.jpg);
    height: 100%;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;

}

.hero-image {
    background-image: url("/img/banner_1.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-billedeStor {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;

}


.p-10 {

    padding: 10em 10em 10em 10em;
}

/* Quotes */

.quote-card {
    padding: 20px;
    padding-left: 50px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    min-height: 120px;

}

.quote-card p {
    font-size: 30px;
    line-height: 1.5;
    margin: 0;
    max-width: 100%;
    font-weight: 100;
}

.quote-card cite {
    font-size: 20px;
    margin-top: 10px;
    display: block;
    font-weight: bolder;
    color: white;
}

.quote-card:before {
    font-family: Georgia, serif;
    content: "“";
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 5em;
    color: rgba(255, 255, 255);
    font-weight: normal;
}



@media (max-width: 640px) {
    .quote-card:after {
        font-size: 22em;
        right: -25px;
    }
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid;
    border-color: white;
}

.fb-share-button {
    height: 20px;
    width: 100px;
    margin: -20px -50px;
    position: relative;
    top: 50%;
    left: 50%;
}

@media only screen and (min-width: 380px) {
    h1 {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 80%;
        transform: translate(-80%, -160%);
        color: white;
        width: 97%;
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        font-size: 33px;
        text-transform: uppercase;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
        letter-spacing: 3px;

    }
}

@media only screen and (min-width: 768px) {
    h1 {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-70%, -160%);
        color: white;
        width: 60%;
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        font-size: 35px;
        text-transform: uppercase;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
        letter-spacing: 3px;

    }
}

@media only screen and (min-width: 992px) {
    h1 {
        text-align: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-60%, -50%);
        color: white;
        width: 75%;
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        font-size: 55px;
        text-transform: uppercase;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
        letter-spacing: 3px;

    }
}

@media only screen and (min-width: 1280px) {
    h1 {
        text-align: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-90%, -50%);
        color: white;
        width: 50%;
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        font-size: 55px;
        text-transform: uppercase;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
        letter-spacing: 3px;

    }
}
